<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Anima
    <br>Design by <a href="https://www.facebook.com/cyj1220" target=_new>AnimaChen</a>
  </p>
</footer>